title: 2-IMMERSE Timeline Service
version: v1
baseUri: http://2immerse.eu/timeline/{version}
documentation:
  - title: Timeline Service
    content: !include timeline-service.md

/context:
	post:
		description: Create a timeline for the given context
		queryParameters:
			contextId:
				description: The ID of the context to be created
			layoutServiceUrl:
				description: Base URL of layout service
		responses:
			204:
	get:
		description: Get list of initialised contextIDs
		responses:
			200:
				body:
					application/json:
						example: |
							["1234"]
	/{contextId}:
		/dump:
			get:
				description: Dump some debugging info about this context
				responses:
					200:
						body:
							text/plain
		/loadDMAppTimeline:
			put:
				queryParameters:
					timelineUrl:
						description: Reference to document containing timeline service instructions
						required: true
				responses:
					200:
						body:
							application/json:
								example: |
									{
										"dmappId" : "dmappid-42"
									}
		/unloadDMAppTimeline:
			put:
				queryParameters:
					dmappId:
						description: The dmapp for which the timeline should be unloaded
						required: true
		/dmappcStatus:
			put:
				queryParameters:
					dmappId:
						description: The DMApp for which the timeline should be unloaded
						required: true
					componentId:
						description: The DMApp Component for which the status is reported
						required: true
					status:
						description: The status report
		/timelineEvent:
			put:
				queryParameters:
					eventId:
						description: The timeline event that got triggered
						required: true
		/clockChanged:
			put:
